aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
arrow==1.3.0
asttokens==3.0.0
attrs==24.2.0
binaryornot==0.4.4
black==24.10.0
certifi==2024.8.30
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cookiecutter==2.6.0
decorator==5.1.1
executing==2.1.0
filelock==3.16.1
flake8==7.1.1
frozenlist==1.5.0
fsspec==2024.10.0
ghp-import==2.1.0
idna==3.10
ipdb==0.13.13
ipython==8.30.0
isort==5.13.2
jedi==0.19.2
Jinja2==3.1.4
joblib==1.4.2
kagglehub==0.3.4
loguru==0.7.3
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mpmath==1.3.0
multidict==6.1.0
mypy-extensions==1.0.0
-e git+ssh://git@github.com/sea-turt1e/NBANetwork.git@d97df1752a401c55237e818f6063f22a1efd8b5a#egg=nbanetwork
networkx==3.4.2
numpy==2.2.0
packaging==24.2
pandas==2.2.3
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
prompt_toolkit==3.0.48
propcache==0.2.1
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.12.1
pyflakes==3.2.0
Pygments==2.18.0
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2024.2
PyYAML==6.0.2
pyyaml_env_tag==0.1
requests==2.32.3
rich==13.9.4
scikit-learn==1.6.0
scipy==1.14.1
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
stack-data==0.6.3
sympy==1.13.1
text-unidecode==1.3
threadpoolctl==3.5.0
torch==2.5.1
torch-geometric==2.6.1
torchaudio==2.5.1
torchvision==0.20.1
tqdm==4.67.1
traitlets==5.14.3
typer==0.15.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
wcwidth==0.2.13
yarl==1.18.3